.adress {

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__link {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        font-style: normal;
    }

    
    &-link--map {
        color: $primeryBodyColor;
    }
}

.button {
    border-radius: 4px;
    box-shadow: 0px 4px 4px $boxShadowColor;
    padding: 10px 32px;
    min-width: 200px;
    border: none;
    

    color: $primeryBodyColor;
    background-color: $accentColor;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;

    transition-property: background-color;
    transition-delay: 250ms;
    transition-timing-function: $transitionTimingFunction;
    }
    
.button:hover,
.button:focus {
    background-color: $primeryBackgroundColor;
}


.contacts {
    display: flex;
    align-content: center;
    margin-left: auto;


    &__item:not(:last-child) {
        margin-right: 30px;
    }


    &__link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $primaryTextColor;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
    }

    &__icon {
        fill: $primaryTextColor;
        margin-right: 10px;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
    }

    &__link:hover &__icon,
    &__link:focus &__icon  {
        fill: $accentColor;
    }
}


.current {
    color: $accentColor;


&::after {
    content: "";
    display: block;
    height: 4px;
    margin-top: 28px;
    background-image: url(../images/hover.png);
    background-size: cover;
    border-radius: 2px;   
}
}


.footer {
    background-color: $additionalBackgroundColor;

    &-container {
        display: flex;
    }

    &__adress-tumb{
        margin: 60px 0;
        }
}


.header {
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;    
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-header {
    color: $titleTextColor;
}

.logo-accent {
    color: $accentColor;
}

.logo-footer {
    display: inline-block;
    color: $primeryBodyColor;
    margin-bottom: 20px;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        margin-top: 0;
        margin-bottom: 50px;
        color: $titleTextColor;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
}


.site-nav {

    &__list {
        display: flex;
        margin-left: 93px;    
    }
    
    &__item{
        padding-top: 32px;
    }
    
    &__item:not(:last-child) {
        margin-right: 50px;   
    }
    &__link {
        color: $titleTextColor;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.02em;
    }
}

.socials {
    display: flex;


    &__item:not(:last-child) {
        margin-right: 10px;  
    }
    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: #afb1b8;

        transition-property: background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
    }

    &__link:hover,
    &__link:focus {
        background-color: $accentColor;
        fill: $primeryBodyColor;
    }
}

.socials-footer {
    margin-top: 72px;
    margin-left: 70px;

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $primeryBodyColor;
        margin-bottom: 20px;
        margin-top: 0;
    }

    &__link {
        fill: $primeryBodyColor;
        background-color: rgba(255, 255, 255, 0.1);
    }
}


.subscription {
    margin-top: 72px;
    margin-left: auto;

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $primeryBodyColor;
        margin-bottom: 20px;
        margin-top: 0;  
    }

    &__button{
        display: inline-flex;
    }

    &__icon {
        margin-left: 10px;
    }
}


.email {
    color: rgba(255, 255, 255, 0.6);
    background-color: $additionalBackgroundColor;
    font-size: 16px;
    line-height: 1.2;

    width: 358px;
    height: 50px;
    padding: 0 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(101%);

    transition-duration: transform;
    transition-duration: 250ms;
    transition-timing-function: $transitionTimingFunction;
  

    .projects__item:hover & {
        transform: translateY(0);
    }


  
    &__text {
        color: $primeryBodyColor;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        padding: 63px 24px;
        margin: 0;
    }
}