.advantage {
    padding: 94px 0px;
  
}

.advantage__list {
    display: flex;
    flex-wrap: wrap;
  
}

.advantage__element {
    width: 270px;
    margin-right: 30px;
    &:nth-child(4n) {
        margin-right: 0px;
    }
}

.advantage__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $team-background;
    margin-bottom: 30px;
    border-radius: 4px;
}

.advantage__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
}

.advantage__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin: 0;
    margin-top: 8px;
  
}