.advantage {
    padding-bottom: 0px;
  
}

.advantage__list {
    
  
    @media screen and (min-width: 768px) { 
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) { 
        display: flex;
        flex-wrap: wrap;
    }
}

.advantage__element {
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) and (max-width: 1200px) { 
        width: calc((100% - 1 * 30px) /2);
        margin-right: 30px;
    &:nth-child(2n) {
        margin-right: 0px;
    }
    }

    @media screen and (min-width: 1200px) { 
        width: calc((100% - 3 * 30px) / 4);
        margin-right: 30px;
    &:nth-child(4n) {
        margin-right: 0px;
    }
    }
}


.advantage__icon{
    background-color: $team-background;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    
}

.advantage__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

    @media screen and (max-width: 767px){
        text-align: center;
    }

}

.advantage__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin: 0;
    margin-top: 8px;
  
}