.clients__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0;

    @media screen and (min-width: 1200px) {
        margin-top: 50px;
    }
}
  
.clients__element {
    margin-right: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        &:nth-child(2n) {
            margin-right: 0px;
        }
    
        &:nth-last-child(-n + 2) {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        &:nth-child(3n) {
            margin-right: 0px;
        }
    
        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }


    }
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
    
        &:last-child {
            margin-right: 0px;
        }
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    fill: #AFB1B8;
    transition: border 250ms $transition-timing-function;

    &:hover, &:active, &:focus  {
        border: 1px solid $active-text-color;
        fill: $active-text-color;
      }
    
    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
    
}