.direction {

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.direction__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  
}
  
.direction__element {
    margin-left: 30px;
    
    &:nth-child(3n + 1) {
        margin-left: 0px;
    }
}

.direction__container {
    position: relative;
    z-index: 1;
  }
  
.direction__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $body-background;
    background-color: rgba(47, 48, 58, 0.8);
      
}
  