.sidebar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    column-gap: 8px;
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
        }
    
    @media screen and (min-width: 1200px) {
        justify-content: center;
        margin-bottom: 50px;
        }
}
  


.sidebar__btn {
    background-color: $team-background;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: $brand-text-color;
    border: none;
    white-space: nowrap;
    padding: 6px 22px;
  
    transition: background-color 250ms $transition-timing-function, color 250ms $transition-timing-function,  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus, &:active  {
        background-color: $active-text-color;
        color: $body-background;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      }
}

.example__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.example__element {
  
    transition: box-shadow 250ms $transition-timing-function;
    @media screen and (min-width: 480px)  {
      flex-basis: 450px;
    }

    @media screen and (min-width: 768px)   {
            flex-basis: 354px;
          
    }

    @media screen and (min-width: 1200px) {
            flex-basis: 370px;
        
    }
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }
      
      
}

.example__hover {
    position: relative;
    overflow: hidden;
  
    &::before {
        display: inline-block;
        content: '';
      
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
      
        transform: translateY(+100%);
        transition: transform 250ms $transition-timing-function ;
    }


    .example__element:hover &::before {
  
        transform: translateY(0);
    }
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(101%);
  
    transition: transform 250ms $transition-timing-function;
  
    .example__element:hover & {
        transform: translateY(0);
    }

    & > p {
        color: $body-background;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        padding: 63px 24px;
        margin: 0;
      }
}

.example__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
  }
  
  .example__text{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin-top: 4px;
  
  }
  
  .example__border {
    border: 1px solid #f6f6f6;
    border-top: 0px;
    padding: 20px 24px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      height: 146px;
    }
  }