

.menu__btn {
    margin: 0;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
    fill: $brand-text-color;
    

    @media (min-width: 768px) {
        
          display: none;
        
      }

      &:hover,
      &:focus {
        fill: $active-text-color;
        border: none;
      }
      
      .menu-container & {
        position: absolute;
        top: 16px;
        right: 16px;
        
      }

      
  }
  
  
  
  
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $body-background;
    z-index: 999;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
      }
  }
  
  
  
  .mobile-menu__element {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
  }
  
  
  .mobile-menu__link {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: $brand-text-color;
    text-decoration:none;
  }

  .mobile__tell {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: $active-text-color;
  }

  .mobile__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    margin-bottom: 65px;
    color: $secondary-text-color;
  }
  
  .mobile-social {
    display: flex;
  }

  .mobile-social__element {
    padding: 0px 10px;
    border: none;
    border-right: 1px solid #D3D3D3;
    &:first-child {
    padding-left: 0px;
    }
    &:last-child {
        padding-right: 0px;
        border-right: none;
    }
  }

  .mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $active-text-color;

  }

  .mobile-menu__link--active {
    color: $active-text-color;
  }

  .mobile-footer {

  }
  