.backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    transition: opacity 1250ms $transitionTimingFunction;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.modal {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    max-height: 581px;
    height: 100%;
    padding: 40px;

    background: $primeryBodyColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);


    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $titleTextColor;
        margin-top: 0;
        margin-bottom: 12px;
    }
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: none;
    fill: $titleTextColor;
    background-color: $primeryBodyColor;
    padding: 0;
    cursor: pointer;

    transition: fill 250ms $transitionTimingFunction;


    &:hover,
    &:focus {
        fill: $accentColor;
        outline: transparent;
    }
}

.form-request {
    margin-bottom: 10px;


    &__tumb {
        position: relative;
    }
    
    &__label {
        display: block;
        text-align: left;
        margin-bottom: 4px;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.15;
    }

    &__input-checkbox {
        appearance: none;
        -webkit-appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__ruls {
        color: $accentColor;
        text-decoration-line:underline;
    }
}

.form-request__input {
    height: 40px;
     width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 8px 12px 42px;

    transition: border 250ms $transitionTimingFunction;
    

    &:hover,
    &:focus {
        border: 1px solid $accentColor;
        outline: transparent;
    }
}

.form-request__textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    
    padding: 12px;
    width: 100%;
    height: 120px;

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;

    transition: border 250ms $transitionTimingFunction;
   
    &:hover,
    &:focus  {
        border: 1px solid $accentColor;
        outline: transparent;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.15;
        letter-spacing: 0.01em;
    }
}

.form-request__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $transitionTimingFunction;


    .form-request__tumb:hover &,
    .form-request__:focus-within &  {
        fill: $accentColor;
    }

    .form-request__input-checkbox:checked + & {
        fill: $primeryBackgroundColor;
        border: none;
        }
}

.form-checkbox {
    position: relative;

    text-align: end;
    width: 425px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;    

    & .form-request__label {
        display: inline;
        justify-content: row;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    & .form-request__icon {
        left: 0;
        border: 2px solid $titleTextColor;
        border-radius: 2px;
        fill: $primeryBodyColor;
    }
}