.order{
    padding: 118px 0;
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/hero480@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi)  {
        
    background-image:
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/hero480@2x.jpg);     
    }

    @media screen and (min-width: 480px) {
         
    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero768.jpg);
    
    

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi)  {
    
        background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero768@2x.jpg); 
    
    }
}
    @media screen and (min-width: 768px) {
   
        background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero.jpg);
    

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        
        background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero@2x.jpg); 
    
    }
    @media screen and (min-width: 1200px) {
        padding: 200px 0px;
    }
}
}

.order__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    color: $body-background;
    width: 360px;
    letter-spacing: 0.06em;
    margin-bottom: 32px;
    text-transform: uppercase;
    
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        width: 696px;
        line-height: 1.36;
        }  
  }

.order__btn {
    width: 200px;
    height: 50px;
    background-color: $active-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px ;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-family: 'Roboto', sans-serif;
    color: $body-background;
    cursor: pointer;
    display: inline-block;
    border: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: opacity 1250ms $transition-timing-function;
    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
  
    padding: 40px;
    width: 450px;
    height: 609px;
    background-color: $body-background; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transform: translate(-50%, -50%);
    visibility: visible;
    
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
  
}

.btn-close {

    position: absolute;
    top: 8px;
    right: 8px;
  
    width: 30px;
    height: 30px;
    fill: black;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $body-background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    fill: $brand-text-color;
    cursor: pointer;
    &:hover, &:focus, &:active {
        fill: $active-text-color;
      } 
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 12px;
  
}

