.team{
    background-color: $team-background;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;

}
  
.team__element {
    background-color: $body-background;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    
}

.team__container {
    padding: 30px 0px;
    
  }
  
.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
}
  
.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin-top: 10px;
    
}

.team-social {
    display: flex;
    justify-content: center;
    justify-content:space-between;
    margin-top: 16px;

    padding-left: 122px;
    padding-right: 122px;
    @media screen and (min-width: 768px) {
        padding-left: 74px;
        padding-right: 74px;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 32px;
        padding-right: 32px;
    }
    

}
  
.team-social__element{
   margin-left: 10px;
   &:first-child {
    margin-left: 0;
  }
}

.team-social__link {
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    fill: #AFB1B8;
  
    transition: background-color 250ms $transition-timing-function, fill 250ms $transition-timing-function;

    &:hover, &:active, &:focus {
        background-color: $active-text-color;
        fill: #FFFFFF;
      }
}

.team__photo {
    height: 460px;    

    @media screen and (min-width: 768px) {
        height: 374px;
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        height: 260px;
        width: 270px; 
    }
}

.team__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}







