$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor:  #2196f3;
$fontFamilyTitle: 'Roboto', sans-serif;
$additionalBackgroundColor: #2f303a;
$teamBackgroundColor: #f5f4fa;
$primeryBodyColor: #fff;
$cardSetGap: 30px;
$boxShadowColor: rgba(0, 0, 0, 0.15);
$primeryBackgroundColor: #188ce8;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    color: $primaryTextColor;
    font-family: $fontFamilyTitle;
    background-color: $primeryBodyColor;
    margin: 0;
    }


    .container {
        width: 1200px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }


    img {
        display: block;
        max-width: 100%;
        height: auto;
    }


    .link {
        text-decoration-line: none;
        color: inherit;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: $transitionTimingFunction;
    
    
        &:hover,
        &:focus {
            text-decoration-line: none;
            color: $accentColor;
        }
    }
    
    .list {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
    }
