     $brand-text-color: #212121;
    $active-text-color: #2196F3;
    $secondary-background: #2F303A;
    $body-background: #FFFFFF;
    $stroke-color: #E5E5E5;
    $team-background: #F5F4FA;
    $secondary-text-color: #757575;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

.title-second {
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
  

}

a {
  text-decoration:none;
    
  }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--brand-text-color);
  background-color: var(--body-background);
  
}

h1,h2,h3,h4,h5,h6{
  margin: 0 auto;
}

.container {
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  
  @media screen and (max-width: 767px) { 
    width: 480px;
    
  }

  @media screen and (min-width: 768px) { 
    width: 768px;
    
  }

  @media screen and (min-width: 1200px) { 
    width: 1200px;
    
  }

}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) { 
    padding-top: 94px;
    padding-bottom: 94px;
    
  }
}

.title-hidden{
  font-size: 0px;
  color: rgba(0, 0, 0, 0);
}
