.form-request {
    margin-bottom: 10px;
  
}
  
.form-request__icon {
    position: relative;
  
}
  
.form-request__label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    color: $secondary-text-color;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
  
}
  
.form-request__input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 8px 12px 42px;
  
    transition: border 250ms $transition-timing-function;
   
    &:hover,
    &:focus{
    border: 1px solid $active-text-color;
    outline: transparent;
    }
}

.form-request__textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    
    padding: 12px;
    width: 100%;
    height: 120px;
  
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
  
    transition: border 250ms $transition-timing-function;
 
    &:hover,
    &:focus  {
    border: 1px solid $active-text-color;
    outline: transparent;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.15;
        letter-spacing: 0.01em;
    }
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
   
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $transition-timing-function;
  }
  

.form-checkbox {
    position: relative;
  
    text-align: end;
    width: 425px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    & .form-request__label {
        display: inline;
        justify-content: row;
      
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
      
    }

    & .form-icon {
        left: 0;
        border: 2px solid $brand-text-color;
        border-radius: 2px;
        fill: $body-background;
    }
  }

  
.form__ruls {
    color: $active-text-color;
    text-decoration-line:underline;
  
}

.form-checkbox__input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    
    &:checked + .form-icon {

        background-color: $active-text-color;
        border: none;
        
    }
}

.form-field__icon {
    position: relative;
    &:hover .form-icon,
&:focus-within .form-icon  {
  fill: $active-text-color;
}
}

.form__button {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 55px;
    min-width: 200px;
    border: none;
    
  
    color: $body-background;
    background-color: $active-text-color;
    font-family: inherit;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
  
    transition-property: background-color;
    transition-delay: 250ms;
    transition-timing-function: $transition-timing-function;  
  
    &:hover,
    &:focus {
    background-color: $active-text-color;
    outline: transparent;
    }
}